.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #233458;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ED96AF;
  display: flex;
  font-size: calc(12px + 2vmin);
}

.instagram {
  width: 28px;
  margin-right: 4px;
}

.mt-2 {
  margin-top: 4px;
}

@media (min-width: 435px) {
  .instagram {
    width: 30px;
    margin-right: 4px;
  }
}

@media (min-width: 550px) {
  .instagram {
    width: 34px;
    margin-right: 4px;
  }
}

@media (min-width: 720px) {
  .instagram {
    width: 38px;
    margin-right: 4px;
  }
}